<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.mapper.DamageAssessmentsMapper">

    <resultMap id="BaseResultMap" type="cn.edu.zjut.entity.DamageAssessments.DamageAssessments">
            <id property="damageId" column="damage_id" jdbcType="VARCHAR"/>
            <result property="houseId" column="house_id" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="attachmentId" column="attachment_id" jdbcType="VARCHAR"/>
            <result property="landlordId" column="landlord_id" jdbcType="VARCHAR"/>
            <result property="daName" column="da_name" jdbcType="VARCHAR"/>
            <result property="daAmount" column="da_amount" jdbcType="DECIMAL"/>
            <result property="daDescription" column="da_description" jdbcType="VARCHAR"/>
            <result property="daStatus" column="da_status" jdbcType="VARCHAR"/>
            <result property="daCreatedAt" column="da_created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        damage_id,house_id,tenant_id,
        attachment_id,landlord_id,da_name,
        da_amount,da_description,da_status,
        da_created_at
    </sql>
</mapper>
