<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.mapper.LandlordProfileMapper">

    <resultMap id="BaseResultMap" type="cn.edu.zjut.entity.LandlordProfile.LandlordProfile">
            <id property="landlordId" column="landlord_id" jdbcType="VARCHAR"/>
            <result property="lAccount" column="l_account" jdbcType="VARCHAR"/>
            <result property="lPassword" column="l_password" jdbcType="VARCHAR"/>
            <result property="lPhoneNumber" column="l_phone_number" jdbcType="VARCHAR"/>
            <result property="lEmail" column="l_email" jdbcType="VARCHAR"/>
            <result property="lHouseStatus" column="l_house_status" jdbcType="VARCHAR"/>
            <result property="lProfilePicture" column="l_profile_picture" jdbcType="VARCHAR"/>
            <result property="lCardNumber" column="l_card_number" jdbcType="VARCHAR"/>
            <result property="lName" column="l_name" jdbcType="VARCHAR"/>
            <result property="lCardImageFront" column="l_card_image_front" jdbcType="VARCHAR"/>
            <result property="lCardImageBack" column="l_card_image_back" jdbcType="VARCHAR"/>
            <result property="lStatus" column="l_status" jdbcType="VARCHAR"/>
            <result property="lBalance" column="l_balance" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        landlord_id,l_account,l_password,
        l_phone_number,l_email,l_house_status,
        l_profile_picture,l_card_number,l_name,
        l_card_image_front,l_card_image_back,l_status,
        l_balance
    </sql>
</mapper>
