<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.mapper.TenantPropertyReviewsMapper">

    <resultMap id="BaseResultMap" type="cn.edu.zjut.entity.TenantPropertyReviews.TenantPropertyReviews">
            <id property="tpReviewId" column="tp_review_id" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="houseId" column="house_id" jdbcType="VARCHAR"/>
            <result property="tpScore" column="tp_score" jdbcType="INTEGER"/>
            <result property="tpComment" column="tp_comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tp_review_id,tenant_id,house_id,
        tp_score,tp_comment
    </sql>
</mapper>
